<h1>Dragon ball page</h1>
<section class="row">
    <div class="col-12 col-sm-6">
        <h3>Personaje: {{ nombre() }}</h3>
        <input 
            type="text" 
            class="form-control" 
            placeholder="Nombre"
            [value]="nombre()"
            (change)="nombre.set(txtName.value)"
            (input)="nombre.set(txtName.value)"
            #txtName
        >
        <input 
            type="number" 
            class="form-control" 
            placeholder="Poder"
            [value]="poder()"
            (change)="poder.set(+txtPoder.value)"
            (input)="poder.set(+txtPoder.value)"
            #txtPoder
        >

        <button (click)="addPersonaje()" class="mt-2 btn btn-primary">Agregar</button>

    </div>
    <div class="col-12 col-sm-6">
        <ul>
            @for( item of personajes(); track item.id; ){
                @if (item.Poder >= 8000) {
                    <li>
                        <span> {{ item.id }} - {{item.Nombre}}</span>
                        <strong 
                            [class.text-danger]="item.Poder > 9000"  
                            [class.text-primary]="item.Poder < 9000"  
                            class="text-danger"> {{item.Poder}}
                        </strong>
                    </li>
                }
            }
        </ul>
    </div>

</section>